.book-detail {
    margin-top: 60px;
    background: rgba(255,255,255,0.9);
    padding: 15px;

    .title {
        margin-top: 34px;
        display: block;
        font-size: 30px;
    }

    h4 {
        margin-top: 24px;
    }

    .shopping-cart {
        float: right;
        font-size: 26px;
        color: red;
        margin-right: 18px;
        margin-top: -12px;
    }

    .shopping-cart:before {
        color: black;
        margin-right: -38px;
        vertical-align: middle;
    }
}

@media (max-width: 991px) {
    .book-detail {
        margin-top: 0px;
    }
}