<div *ngIf="bookDetail" class="book-detail">
    <nav>
        <app-back-button></app-back-button>
        <a class="btn btn-info" (click)="addToCart(bookDetail.id)">Add to shopping cart</a>
        <app-shopping-cart-icon [refreshShoppingCartIcon]="refreshShoppingCartIcon"></app-shopping-cart-icon>
    </nav>
    <div class="main-content">
        <h1 class="title">{{bookDetail.title}}</h1>
        <span class="subtitle">{{bookDetail.subtitle}}</span>

        <h3>Authors</h3>
        <ul class="authors">
            <li *ngFor="let author of bookDetail.authors">
                {{author}}
            </li>
        </ul>

        <h3 *ngIf="bookDetail.description">Description</h3>
        <p>{{bookDetail.description}}</p>
        <table>
            <tr>
                <th>Publisher</th>
                <th>Page count</th> 
            </tr>
            <tr>
                <td>{{bookDetail.publisher}}</td>
                <td>{{bookDetail.pageCount}}</td> 
            </tr>
        </table>
    </div>
    <img *ngIf="bookDetail.smallImage" src="{{bookDetail.smallImage}}" alt="{{bookDetail.title}}">
</div>