.search-wrapper {
    width: 33.33333333%;
    margin-left: 33.33333333%;
}

.book-list-wrapper {
    overflow: hidden;
}

@media (max-width: 991px) {
    .search-wrapper {
        width: 80%;
        margin-left: 10%;
    }
}