.shopping-cart {
    float: right;
    font-size: 26px;
    color: red;
    margin-right: 6px;
    margin-top: -19px;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;

    &::before {
        color: black;
        margin-right: -29px;
        vertical-align: middle;
        font-size: 50px;
        font-weight: normal;
    }
}

.reverse {
    &::before {
        color: white;
    }
}