<div class="shopping-cart">
    <app-back-button></app-back-button>

    <span *ngIf="emptyCart">Your cart is empty.</span>

    <ul class="cart-items">
        <li *ngFor="let bookDetail of bookDetails">
            <div>
                <h1 routerLink="/detail/{{bookDetail.id}}">{{bookDetail.title}}</h1>
                <span>{{bookDetail.authors}}</span>
                <a class="btn btn-info" (click)="removeItem(bookDetail.id)">Remove</a>
            </div>
        </li>
    </ul>    
</div>